// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  display: flex;
  text-align: center;
  background-color: grey;
  border-radius: 8px;
  padding: 20px;
}

input {
  padding: 4px;
}
